.forms {
    padding: 1.5rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    background-color: aliceblue;
}

.forms .templates {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 20%;
    height: 100%;
    border-right: solid 1px tan;
    box-shadow: slategrey;
    background-color: whitesmoke;
}

.forms .form {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.forms .form .form-fields {
    text-align: left;
}

.forms .form .form-fields div {
    margin-bottom: 1rem;
}

.forms .form label {
    width: 150px;
}

.forms .form button {
    font-size: 16px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: wheat;
}

.forms .form button:hover {
    background-color: tan;
}

.forms .templates li {
    font-size: 16px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: wheat;
    user-select: none;
}

.forms .templates li:hover {
    background-color: tan;
}

.forms .templates .selected {
    background-color: teal;
    color: aliceblue;
}

.forms .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}